/* HEADER */

.header{
    background-color: gray;
    /*background-image: url("../rsc/blue background.jpg");*/
    color: white;
    padding-top: 2em;
    padding-bottom: 2em;
}

.header-t{
    width: 90%;
    margin: 0 auto;
}

.header-in{
    padding: 1em;
    text-align: center;
}

.header-in h1{
    color: white;
    font-size: 42px;
}

.header-button{
    padding: 0;
    border-radius: 0;
    padding: 0;
    margin-top: 2em;
}

.header-list{
    text-align: center;
}

.header-list li{
    font-family: 'Ubuntu';
    background-color: black;
    color: white;
    margin: 0 1.5em;
    padding: 0.5em 0.7em;
    width: 150px;
    font-size: 24px;
    display: inline-block;
    font-weight: bold;
    cursor: pointer;
}

.header-list li:hover{
    /*background-color: gray;*/
}

@media (max-width: 768px){
    .header{
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        font-size: 13px;
    }

    .header-in{
        font-size: 10px;
    }

    .header-list li{
        width: 60%;
        margin: 0 0.5em;
        font-size: 13px;
    }
}

@media (min-width: 768px) and (max-width: 992px){
    .header{
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        font-size: 13px;
    }

    .header-in{
        font-size: 10px;
    }

    .header-list li{
        width: 20%;
        margin: 0 0.5em;
        font-size: 16px;
    }

}

/* HEADER*/

/* CONTENIDO */

.contenido{
    width: 90%;
    overflow: hidden;
    margin: 0 auto;
    /*text-align: center;*/
}

/* CONTENIDO */

/* FOOTER */

.footer {
    width: 100%;
    overflow: hidden;
    /*background-image: url("../rsc/blue background.jpg");*/
    background-color: gray;
    font-size: 14px;
    color: white;
    height: 170px;
    padding-top: 2em;
    padding-bottom: 2em;
}

.footer-in{
    width: 75%;
    margin: 0 auto;
}

.footer-logo{
    padding-top: 1.5em;
    float: left;
    width: 50%;
    vertical-align: middle;
    text-align: center;
}

.footer-logo a img{
    width: 200px;
}

.footer-adress{
    list-style: none;
}

.footer-address li{
    display: block;
    font-size: 16px;
    margin-bottom: 0.7em;
}

.footer-services{
    float: left;
    width: 40%;
    text-align: center;
}

.footer-services p{
    font-size: 17px;
    font-weight: bold;
}

.footer-services #service {
    font-weight: bold; 
}

.footer-services ul {
    list-style: none;
    padding: 0;
}

a.footer-services-list {
    color: #FFFFFF;
    font-size: 15px;
}

.list-services a li {
    display: block;
}

@media screen and (max-width: 768px) {
    .footer{
        height: initial;
        padding-bottom: 3em;
    }

    .footer-in {
        margin: 0 auto;
        width: 90%;
    } 

    .footer-logo, .footer-services{
        float: none;
        margin: 0 auto;
        width: 100%;
    }

    .footer-services{
        margin-top: 3em;
    }

    .footer-services ul li{
        width: 100%;
    }

    .footer-logo a img{
        width: 13em;
    }

    a.footer-services-list{
        font-size: 12px;
    }

}

/* FOOTER 