.content-perfil{
	text-align: center;
}

.perfil-left{
	width: 50%;
	float: left;
}

.perfil-right{
	width: 50%;
	float: right;
}

.perfil-right .options{
	vertical-align: middle;
}

.perfil-right .options li{
	list-style: none;
	font-size: 18px;
}

.perfil-right .options li a{
	color: black;
}

.perfil-right .options li a:hover{
	color: gray;
}
