.header{
    background-color: gray;
    /*background-image: url("../rsc/blue background.jpg");*/
    color: white;
    padding-top: 2em;
    padding-bottom: 2em;
}

.header-t{
    width: 90%;
    margin: 0 auto;
}

.header-in{
    padding: 1em;
    text-align: center;
}

.header-in h1{
    color: white;
    font-size: 42px;
}

.header-button{
    padding: 0;
    border-radius: 0;
    padding: 0;
    margin-top: 2em;
}

.header-list{
    text-align: center;
}

.header-list li{
    font-family: 'Ubuntu';
    background-color: black;
    color: white;
    margin: 0 1.5em;
    padding: 0.5em 0.7em;
    width: 150px;
    font-size: 24px;
    display: inline-block;
    font-weight: bold;
    cursor: pointer;
}

.header-list li:hover{
    /*background-color: gray;*/
}

@media (max-width: 768px){
    .header{
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        font-size: 13px;
    }

    .header-in{
        font-size: 10px;
    }

    .header-list li{
        width: 60%;
        margin: 0 0.5em;
        font-size: 13px;
    }
}

@media (min-width: 768px) and (max-width: 992px){
    .header{
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        font-size: 13px;
    }

    .header-in{
        font-size: 10px;
    }

    .header-list li{
        width: 20%;
        margin: 0 0.5em;
        font-size: 16px;
    }

}




.slider-fre,
.slider-pay{
    height: 100%;
}

.slider-free-nocommerce,
.slider-free-commerce,
.slider-pay-commerce{
    width: 100%;
    margin-top: 3em;
}

#title{
    margin-bottom: 0;
}

#subtitle{
    font-size: 32px;
}

.slide-images{
    float: left;
    width: 50%;
    margin-bottom: 3.5em;
}

.slide-images img{
    margin-top: 1em;
    box-shadow: 14px 14px 20px #999;
    width: 70%;
    max-height: 300px;
}

#ultimo{
    width: 100%;
    float: none;
}

#ultimo img{
    width: 38%;
}

.slide-images p{
    font-size: 26px;
    font-weight: bold;
    margin: 0;
}

@media screen and (max-width: 768px){
    .slide-images{
        float: none;
        margin: 0 auto;
        width: 100%;
        margin-bottom: 3em;
    }

    .slide-images img{
        width: 85%;
    }

    #ultimo img{
        width: 85%;
    }
    
    .slide-image p{
        font-size: 18px;
    }
}
