.slider-fre,
.slider-pay{
    height: 100%;
}

.slider-free-nocommerce,
.slider-free-commerce,
.slider-pay-commerce{
    width: 100%;
    margin-top: 3em;
}

#title{
    margin-bottom: 0;
}

#subtitle{
    font-size: 32px;
}

.slide-images{
    float: left;
    width: 50%;
    margin-bottom: 3.5em;
}

.slide-images img{
    margin-top: 1em;
    box-shadow: 14px 14px 20px #999;
    width: 70%;
    max-height: 300px;
}

#ultimo{
    width: 100%;
    float: none;
}

#ultimo img{
    width: 38%;
}

.slide-images p{
    font-size: 26px;
    font-weight: bold;
    margin: 0;
}

@media screen and (max-width: 768px){
    .slide-images{
        float: none;
        margin: 0 auto;
        width: 100%;
        margin-bottom: 3em;
    }

    .slide-images img{
        width: 85%;
    }

    #ultimo img{
        width: 85%;
    }
    
    .slide-image p{
        font-size: 18px;
    }
}


.content-recents{
    width: 90%;
    overflow: hidden;
    margin: 0 auto;
}

.content{
    width: 45%;
    float: left;
    margin: 1em auto;
}

.image-element{
    width: 20%;
    height: 100%;
    float: left;
}

.image-element img{
    width: 100%;
}

.body-content{
    width: 80%;
    float: right;
}

.document-elements{
    
}

footer-content{

}